#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.card {
    display: flex;
    padding: 1em;
    border-bottom: 1px solid;
    justify-content: flex-start;
    align-items: center;  
  }

.read-the-docs {
    color: #888;
}

ul {
    padding: 0;
}

li {
  list-style: none;
}